body {
   background: rgb(35, 36, 0);
   background: linear-gradient(90deg, rgba(35, 36, 0, 1) 0%, rgb(21, 67, 168) 17%, rgba(0, 212, 255, 1) 100%);
};

* { 
   margin: 0;
   padding: 0;
}

.topbar { 
   background-color: blue;
   height: 8;

}

h1,
h2,
p,
table {
   font-family: 'Roboto', sans-serif;
   text-align: justify;
}

h2 {
   font-size: larger;
   text-align: center;
}

h3 {
   font-size: 15px;
   text-align: left;
}

img {
   width: 10rem;
   border-radius: 50%;
}
header .imagem-botao{
   width: 40px;
   align-items: center;
}
header .imagem-botao-lua{
   width: 30px;
   align-items:start;
}
header {
   background-color: rgb(250, 235, 215, 0.3);
   border: 2px solid rgb(255, 255, 255);
   padding: 1rem;
   margin: 4rem;
   border-radius: 1REM;
}
header #botao-alterar-tema{
   background: none;
   border: none;
   cursor: pointer;
   margin-left: 60rem;
}
header #botao-alterar-tema-dark{
   background: none;
   border: none;
   cursor: pointer;
   
}
 .imagem-botao:hover {
   transform: scale(1.5);
 }
  .imagem-botao-lua:hover {
   transform: scale(1.5);
  }
#head {
   display: grid;
   grid-template-columns: 10rem 1fr;
   align-items: center;
}

#block {
   background-color: rgba(255, 255, 255, 0.1);
   padding-top: 1px;
   padding-left: 1rem;
   padding-right: 1rem;
   padding-bottom: 1rem;
   margin-top: 2rem;
   text-align: center;
   border-radius: 1rem;


}

.Escolaridade,
.Cursos,
.Experiencias {
   position: relative;
   margin-top: 2rem;
   font-size: larger;
   text-align: center;

}

table {
   color: rgb(26, 26, 24); 
   background-color: rgb(178, 220, 162, O.8);
   width: 100%;
   text-align: center;
}

tr,
th,
td {
   border-bottom: 1px solid #ddd;

}

td:hover {
   background-color: rgb(8, 46, 121);
}

#footer {
   text-align: center;
}

.dark {
   background-color: black;
   color: #ddd;
}
